.logo {  /* размеры логотипа */
    width: 9%; 
    max-width: 150px; 
    height: auto;
}
.slogan {
    width: 70%;
    padding: 0px 60px 0px 100px;
}
.navbar-collapse {  /* расположение ссылок в div для ссылок */
    display: flex;  /* распологает все дочерние элементы */
    align-items: center;   /* вырвнивает все дочерние элементы по центру */
    margin-left: auto;   /* сдвигает крайний элемент вправо*/
    justify-content: flex-end;
}
.navbar-nav {  /* расположение ссылок в ul */
    display: flex;
    flex-direction: row;   /* распологаем ссылки горизотально*/
    gap: 5%;   /* промежуток между элементами*/
    padding-right: 50px;
}
.nav-link {   /* настройки ссылок */
    color:#DF572A;
    white-space: nowrap;   /* игнорируем пробел для ссылки О нас */ 
}
.nav-link:hover{   /* настройки ссылок при наведении */
    color: #A33400;
}
.header-container {   /* расположение элементов в header */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {   /* настройки header */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #D3D3DA;
    font-size: 20px;
    height: auto;
    padding: 5px 60px 5px 60px;
    overflow: hidden;
}
html, body {   /* общие настройки */
    margin: 0;
    padding: 0;
    overflow-x: hidden;   /* скрываем все что выходит за ширину экрана*/
}
body{   /* настройки для body*/
    background-color: #D3D3DA;
}
.content-container{ /* основной контейнер */
    width: 100%;
}
.banner-image{   /* */
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.mainImageContainer{   /**/
    position: relative;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .header {
        padding: 5px 10px 5px 10px;
    }
    .logo {  /* размер логотипа */
        width: 22%; 
        max-width: 100px;
    }   
    .slogan{   /* размер слогана*/
        width: 70%;
        height: auto;
        padding: 0px 10px 0px 10px;
    }
    .nav-link{  /*цвет ссылок*/
        color:#D3D3DA;
    }
    .navbar-nav { /* распологаем ссылки по колонкам*/
        flex-direction: column !important;
        justify-content: space-between;
    }
    .navbar-toggler {  /* гамбург-меню */
        background-color: #DF572A;
        border: none;
        border-radius: 5px;
        padding: 0.25rem;  /* Уменьшаем отступы внутри кнопки */
        width: 27px;  /* Устанавливаем ширину кнопки */
        height: 32px;  /* Устанавливаем высоту кнопки */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-toggler .fa-bars {  /* настройки иконки гамбургера */
        color: #D3D3DA; 
        font-size: 1.2rem;  /* Уменьшаем размер иконки */
    }
    
    .navbar-collapse {  /*всплывающее меню*/
        background-color: #DF572A;
        width: 50%;
        height: auto;
        position: fixed;
        top: 0.1%;
        right: -100%; 
        z-index: 999;
        transition: right 0.5s ease;
        flex-direction: column;
    }
    .navbar-collapse.show {  /* Показываем меню при открытии */
        right: 0; 
    }
}
